.is-sticky {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	box-shadow: 0 5px 10px 2px rgb(50 68 93 / 72%);
	padding-top: 0px;
	padding-bottom: 0px;
}
.hidden {
	display: none;
}
.nav-active {
	display: flex;
	position: absolute;
	top:3%;
	left:0;
	height: 50%;
	max-width: 300px;
	flex-direction: column;
	background-color: midnightblue;
	z-index: 20;

}
.menu {
	cursor: pointer;
}

@media (max-width: 600px) {
.current-page-title {
	margin-right: 2rem;
}
}