@mixin shadow {
  box-shadow: 0 5px 10px 2px rgb(50 68 93 / 72%);
  border-radius: 3px;
}

h1, 
h2 {
  padding: 0 3rem;
  font-family: Graduate, sans-serif;
  }

.main-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.advantage {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.welcome {
  max-width: 90%;
  padding: 1em;
  font-size: 1.5rem;
  color: midnightblue;
  text-align: center;
  font-family: Montserrat, sans-serif;
  background-color: skyblue;
  @include shadow;
}
.elephant {
  width: 8rem;
  
}

.welcome-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 2rem;
      
  .developer {
    padding: 1rem;
    width: 12rem;
    height: 12rem;
    img {
      width: 100%;
      object-fit: cover;
      @include shadow;
      }
    span {
      color: midnightblue;
      text-align: center;
      font-family: cursive;
      font-size: 1.2rem;
      }
    }
  }