#modal-root {
  position: relative;
}

#modal-root .modal {
background-color: rgba(0, 0, 0, 0.7);
position: fixed;
height: 100%;
width: 100%;
top: 0;
left: 0;
display: flex;
align-items: center;
justify-content: center;
z-index: 10;
}
.modal-main {
display: flex;
flex-direction: column;
position: fixed;
background: #fff;
border-radius: 5px;
height: auto;
left: 50%;
padding: 1rem;
position: fixed;
top: 50%;
transform: translate(-50%,-50%);
width: 80%;
z-index: 15;
}
.modal-close {
position: fixed;
right: 2rem;
top: 2rem;
width: 3rem;
height: 3rem;
font-size: 2rem;
background-color: blue;
color: yellow;
cursor: pointer;
}
.modal-close:hover {
background-color: red;
color: yellow;
}
.modal-title {
font-weight: bold;
margin-bottom: 1rem;
width: 80%;  
}
.modal-details{
margin-bottom: 1rem;
font-weight: bold;
}
.description{
font-style: italic;
font-variant-caps: petite-caps;
}
#search{
height: 2rem;
border-radius: 18px;
box-shadow: 0 5px 10px 2px rgb(34 60 80 / 20%);
font-size: 1em;
margin-right: 1em;
}
.search-button{
height: 2rem;
border-radius: 10px;
box-shadow: 0 5px 10px 2px rgb(34 60 80 / 20%);
font-size: 1em;
margin-right: 1em;
cursor: pointer;
}
.main-container img {
box-shadow: 0 5px 10px 2px rgb(50 68 93 / 72%);
}
