.row__password {
	display: flex;
	align-items: center;
	width: 100%;
}

.password__input {
	margin: 10px;
	padding: 10px;
	font-size: medium;
	width: 80%;
}

.show__btn {
	margin: 0;
	width: 15%;
}
